*{
    margin: 1%;
    padding: 0;
    font-style: italic;
    background-color: blanchedalmond;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;   
}

header img{
    height: 18rem;
    width: 18rem;
    border-radius: 10%;
    margin-top: 2%;
    border: 5px dotted red;
}

.container{
    margin-left: 20%;
    margin-right: 20%;      
}

img{
    float: left;
    height: 12rem;
    width: 13rem;
    border-radius: 8%;  
}

h3{
    text-align: center;
    text-shadow: 4px 2px 3px red;
    font-variant: small-caps;
}

.container p{
    margin-top: 3rem;
    text-align: justify;  
}

.container .star-2{
    margin-top: 10rem;   
}
